@media only screen and (min-width: 1920px) {
  .home-content{
    padding: 0%;
  }

  h1{
    font-size: 6rem!important;
  }
  
  h3{
    font-size: 3.5rem!important;
  }

  h6{
    font-size: 1.5rem!important;
  }

  p, button{
    font-size: 1.5rem!important;
  }

  .service-card{
    height: 350px;
  }

  .blog-single-image{
    height: 550px;
  }

  .blog-single h2{
    font-size: 6rem!important;
  }

  .blog-container h4{
    font-size: 4rem!important;
  }
}