@media only screen and (min-width: 2560px) {
  .home-content{
    padding: 0%;
  }

  h1{
    font-size: 8rem!important;
  }
  
  h3{
    font-size: 5rem!important;
  }

  h6{
    font-size: 2.5rem!important;
  }

  p, button{
    font-size: 2rem!important;
  }

  .service-card{
    height: 500px;
  }

  .blog-single-image{
    height: 700px;
  }

  .blog-single h2{
    font-size: 7rem!important;
  }
  
  .blog-single p{
    font-size: 1.5rem!important;
  }
}